:root {
  --primary: #bf3d3b;
  --secondary: #262626;
  --bg-main: #f7f7f7;
  --bg-header: #c5dcca;
  --bg-footer: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-main);
  height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary);
  font-weight: 900;
}

h2 {
  font-size: 1rem;
  font-family: "Gabarito";
  color: #d06d33;
  font-weight: 700;
  margin-block: 0.5rem;
}

h3 {
  color: var(--secondary);
}

/* -------------- HERO ------------- */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#hero:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-block: 1rem;
}

.hero-logo {
  height: 2.5rem;

}

.container {
  opacity: 100%;
  margin-block: 1rem;
}

.hero-p {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  color: #262626;
  margin-inline: auto;
}

/* --------- SIDEBAR + MAP --------- */
.container {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

#main-section {
  display: flex;
  flex-direction: row;
}

.sidebar-img {
  margin-block: 1rem;
  border-radius: 5px 5px 0px 0px;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

#map {
  min-height: 50rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
}

.icon-container {
  position: relative;
  width: 50px;
  height: 50px; 
}

.circle {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid var(--primary); 
  border-radius: 50%;
  z-index: -1;
}

/* -------------- FOOTER -------------- */
footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-footer);
  color: #737373;
}

footer div {
  margin-bottom: 0.75rem;
}

span,
i {
  color: #737373;
  width: 100%;
}

.fa-circle-info {
  margin-right: 0.5rem;
}

footer p {
  color: #fff;
}

@media screen and (min-width: 650px) {
  .hero-logo {
    height: 3rem;
  }

  .hero-p {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .hero-container {
    width: 80%;
  }

  .hero-logo {
    height: 4rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hero-p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero-container {
    width: 60%;
  }

  #main-section {
    width: 70%;
    margin-inline: auto;
  }
}
